version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "julia"
    directories: # Location of Julia projects
      - "/"
      - "/docs"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
